In [1]:
import pandas as pd
import random
file = pd.read_csv('WeatherPy_vacation.csv')

In [2]:
vacation_search = file.copy().iloc[:,1:]
vacation_search

,City,Country,Max_Temp,Humidity,Cloudiness,Rain_Inches,Snow_Inches,Lat,Lng,Hotel,Location
0,Balaipungut,ID,74.64,96,86,0.9990,0.0,1.05,101.28,Balaipungut Hotel,"(1.05, 101.28)"
1,Ca Mau,VN,77.83,90,100,1.4144,0.0,9.18,105.15,Ca Mau Hotel,"(9.18, 105.15)"
2,Cao Bang,VN,75.76,89,100,0.8700,0.0,22.67,106.25,Cao Bang Hotel,"(22.67, 106.25)"
3,Duku,NG,76.03,88,100,1.1400,0.0,11.24,4.91,Duku Hotel,"(11.24, 4.91)"
4,Dwarka,IN,82.78,74,100,0.8964,0.0,22.24,68.97,Dwarka Hotel,"(22.24, 68.97)"
5,Karratha,AU,77.03,38,0,0.4100,0.0,-20.74,116.85,Karratha Hotel,"(-20.74, 116.85)"
6,Kavaratti,IN,81.28,81,91,0.3216,0.0,10.57,72.64,Kavaratti Hotel,"(10.57, 72.64)"
7,Lingao,CN,80.17,84,99,1.4754,0.0,19.91,109.69,Lingao Hotel,"(19.91, 109.69)"
8,Mangrol,IN,79.73,85,100,1.1530,0.0,21.12,70.12,Mangrol Hotel,"(21.12, 70.12)"
9,Mitu,CO,86.68,61,68,0.5620,0.0,1.20,-70.17,Mitu Hotel,"(1.2, -70.17)"
10,Murbad,IN,80.58,94,75,0.3700,0.0,19.25,73.40,Murbad Hotel,"(19.25, 73.4)"
11,Nanchang,CN,73.45,73,99,0.4664,0.0,28.68,115.88,Nanchang Hotel,"(28.68, 115.88)"
12,Oyama,JP,80.98,94,75,0.4500,0.0,36.30,139.80,Oyama Hotel,"(36.3, 139.8)"
13,Rabaul,PG,80.17,79,3,0.3700,0.0,-4.20,152.17,Rabaul Hotel,"(-4.2, 152.17)"
14,Seoul,KR,66.18,88,90,0.1200,0.0,37.57,126.98,Seoul Hotel,"(37.57, 126.98)"
15,Tefe,BR,85.98,74,20,0.1200,0.0,-3.35,-64.71,Tefe Hotel,"(-3.35, -64.71)"
16,Uyo,NG,73.67,96,100,1.1400,0.0,5.03,7.93,Uyo Hotel,"(5.03, 7.93)"
17,Victoria,HK,83.98,83,82,0.1100,0.0,22.29,114.16,Victoria Hotel,"(22.29, 114.16)"
18,Yenagoa,NG,75.45,93,100,0.1800,0.0,4.92,6.26,Yenagoa Hotel,"(4.92, 6.26)"

In [3]:
cities = vacation_search.iloc[[0,1,2,4],:].reset_index().iloc[:,1:]
cities

,City,Country,Max_Temp,Humidity,Cloudiness,Rain_Inches,Snow_Inches,Lat,Lng,Hotel,Location
0,Balaipungut,ID,74.64,96,86,0.9990,0.0,1.05,101.28,Balaipungut Hotel,"(1.05, 101.28)"
1,Ca Mau,VN,77.83,90,100,1.4144,0.0,9.18,105.15,Ca Mau Hotel,"(9.18, 105.15)"
2,Cao Bang,VN,75.76,89,100,0.8700,0.0,22.67,106.25,Cao Bang Hotel,"(22.67, 106.25)"
3,Dwarka,IN,82.78,74,100,0.8964,0.0,22.24,68.97,Dwarka Hotel,"(22.24, 68.97)"

In [4]:
#### HOW TO ADD THIS LAYER (MARKER LAYER) INTO THE MAP BELOW WITH THE DIRECTIONS

# Set up marker layer for #10 in part 3
c_s = cities.copy()
c_s['Location'] = [(Lat, Lng) for Lat, Lng in zip(c_s.Lat, c_s.Lng)]
c_s = c_s.to_dict('r')

city_locations = [c['Location'] for c in c_s]
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel</dt><dd>{Hotel}</dd>
<dt>Max Temp</dt><dd>{Max_Temp}</dd>
<dt>Humidity</dt><dd>{Humidity}</dd>
<dt>Cloudiness</dt><dd>{Cloudiness}</dd>
<dt>Rain</dt><dd>{Rain_Inches}</dd>
<dt>Snow</dt><dd>{Snow_Inches}</dd>
</dl>
"""

city_info = [info_box_template.format(**c) for c in c_s]

In [5]:
## From gmaps documentation
import gmaps
import gmaps.datasets
gmaps.configure(api_key='AIzaSyCuOo58QNcG7KZUczdwzq8p0HZWCaFg-_M')

# Latitude-longitude pairs
balaipungut = (cities.loc[0, 'Lat'], cities.loc[0, 'Lng'])
ca_mau = (cities.loc[1, 'Lat'], cities.loc[1, 'Lng'])
cao_bang = (cities.loc[2, 'Lat'], cities.loc[2, 'Lng'])
dwarka = (cities.loc[3, 'Lat'], cities.loc[3, 'Lng'])

fig = gmaps.figure()
travel_itinerary = gmaps.directions_layer(balaipungut, dwarka, waypoints=[ca_mau, cao_bang], travel_mode='DRIVING')

### MARKER LAYER IS NOT ADDING TO THE GMAPS
marker_layer = gmaps.marker_layer(city_locations, info_box_content=city_info)

fig.add_layer(marker_layer)
fig.add_layer(travel_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))